*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    height: 100%;
    width: 100%;
}
nav{
    padding: 12px 100px 12px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav p{
    font-size: 12px;
    cursor: pointer;
}
nav p:hover{
    border-bottom: 2px solid #006DC1;
}
.nav-left{
    display: flex;
    gap: 18px;
    align-items: center;
}
.nav-left img{
    margin-right: 20px;
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 18px;
}
.ri-search-line{
    font-size: 20px;
}
.ri-shopping-cart-2-line{
    font-size: 22px;
}
.profile{
    height: 40px;
    width: 40px;
    background-image: url(https://images.unsplash.com/photo-1785088560047-754af54472d6?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    border-radius: 50px;
}
section{
    position: relative;
    height: 70%;
    width: 100%;
}
section img{
    width:100%;
    height: 100%;
}
.content{
    position: absolute;
    top:140px;
    left: 110px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.new-btn{
    height: 30px;
    width: 60px;
    border: none;
    background-color: rgb(255, 191, 0);
    border-radius: 5px;
    font-weight: bold;
    /* margin-bottom: 12px; */
}
.content h1{
    font-size: 45px;
    font-weight: 500;
    /* margin-bottom: 10px; */
    line-height: 55px;
}
.learn-btn{
    height: 50px;
    width: 110px;
    border: none;
    border-radius: 8px;
    background-color: #006DC1;
    color: white;
    margin-top: 30px;
}

.container3{
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.box{
    display: flex;
    flex-direction: column;
    font-size: 5px;
}
.box img{
    height: 30px;
}
.box p{
    font-size: 15px;
    font-weight: 550;
    color: #263E65;
    text-decoration: underline;
}

.card-sec{
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.card{
    position: relative;
    height: 90%;
    width: 20%;
    border-radius: 25px;
    box-shadow: 0px 1px 4px rgb(181, 180, 180);

}
.card:hover{
    box-shadow: 0px 2px 7px rgb(167, 166, 166) ;
}

.card img{
    width: 100%;
    border-radius: 25px;
    padding: 7px;
}
.card h2{
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px 10px 20px;
}
.card p{
    padding: 10px 20px 10px 20px;
    font-size: 15px;
}

.card .btn-card{
    padding: 13px 20px;
    position: absolute;
    bottom: 25px;
    left: 20px;
    border-radius: 10px;
    border:none;
    background-color: #006DC1;
    color: white;
}
.container4{
    height: 65%;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 100px 0px 10px 150px; */
    margin: 50px 0px 0px 120px ;
    border-radius: 20px;
    box-shadow: 0px 1px 4px rgb(119, 118, 118);
    
}
.container4:hover{
    box-shadow: 0px 2px 5px rgb(119, 118, 118);
}
.text-side{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 17px;
    padding: 0px 45px 0px 25px ;
    position: relative;
}
.text-side h1{
    font-weight: 500;
    font-size: 30px;
}
.text-side p{
    font-size: 15px;
}
.image-side{
    height: 100%;
    width: 50%;

}
.image-side img{
    height: 100%;
    width: 100%;
    border-radius: 25px;
    padding: 8px;
}
.text-side button{
    width: fit-content;
    padding: 13px 20px;
    border: none;
    border-radius: 7px;
    background-color: #006DC1;
    color: white;
    position: absolute;
    bottom: 25px;
}
.container5{
    background-color:#DCEEF8;
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    margin: 50px 0px;
    padding: 30px 0px;

}
.container5 .header{
    padding-top: 20px;
}
.container5 .header h2{
    font-weight: 500;
    font-size: 30px;
    padding: 0px 0px 0px 120px;
}

.box-card{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.container5 .box-card .card{
    background-color: white;
}

.container6{
    height: 65%;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 100px 0px 10px 150px; */
    margin: 50px 0px 50px 120px ;
    border-radius: 20px;
    box-shadow: 0px 1px 4px rgb(119, 118, 118);
}
.container6:hover{
    box-shadow: 0px 2px 5px rgb(119, 118, 118);
}
.new-card-btn{
    padding: 8px 18px;
    border: none;
    margin-top: 12px;
    margin-left: 20px;
    border-radius:5px;
    background-color: #FFB900;
}

.socials{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.socials h3{
    font-weight: 600;
    font-size: 16px;

}
.socials-icons{
    display: flex;
    gap: 38px;
}
.box-icons{
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgb(75, 74, 74);
}
.box-icons:hover{
    box-shadow: 0px 1px 3px rgb(89, 88, 88);
}
.socials .socials-icons .box-icons i{
    font-size: 28px;
}

footer{
    background-color: #F2F2F2;
    height: 53%;
    width: 100%;
    padding: 30px 200px 0px 75px;
    display: flex;
    justify-content: space-between;
}
footer .text-box{
    display: flex;
    flex-direction: column;
    gap: 18px;
    color: rgb(110, 109, 109);
}
footer .text-box h4{
    font-weight: 600;
    font-size: 15px;
}
footer .text-box small{
    font-size: 10px;
    cursor: pointer;
}