*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #0B0809;
}
header{
    text-align: center;

}
header h1{
    font-size: 4vw;
    color: white;
    font-weight: 500;
    padding-top: 30px;
}
.logo-div{
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    gap: 2px;
}
header .line{
    height: 1.6px;
    width: 90px;
    background-color: #c66b0a;
}
header .left{
    background: linear-gradient(to right,transparent,#d97706);
}
header .logo img{
    height: 2vw;
}
header .right{
    background:linear-gradient(to left, transparent , #d97706);
}
.card-section{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card{
    background-color: #161111;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    align-items: center;
    border-radius: 15px;
    box-shadow: 1px  1px 8px #030303;
    position: relative;
}
.card:hover{
    box-shadow: inset 0px  0px 15px #4E2312;
    border: 1px solid #BA6F32;
}
.card img{
    height: 65%;
    width: 100%;
    padding-top: 20px;
    margin: 10px ;
}
.card h3{
    font-size: 25px;
    font-weight: 200;
    margin: 2px;
    color: #EEEBEA;
}
.card p{
    font-weight: 100;
    font-size: 15px;
    color:#9d9a9a ;
}
.card-line{
    height: 2px;
    width: 20%;
    background-color: #734729;
    margin: 15px;
}
.card h2{
    color: #D57D30;
    font-weight: 500;
    font-size: 25px;
}
.card button{
    padding: 3px 10px;
    border-radius: 100px;
    font-size: 14px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    background-color: #1B130F;
    color: #C87F3B;
    border:1.5px solid #91472e;
    position: absolute;
    left: 7%;
    top: 5%;
}
.card button span{
    padding-right: 3px;
}
section{
    margin: 30px 0px;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.special-card{
    height: 100%;
    width: 85%;
    background-color: #0c0b0b;
    display: flex;
    padding: 10px;
    box-shadow: 1px  1px 8px #030303;
    border: 2px solid #61402C;
    border-radius: 15px;
    justify-content: space-around;

}
.meal-description{
    color: #9d9a9a;
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    gap: 30px;
    
}
.meal-heading{
line-height: 5vh;
}
.meal-heading .chef{
    font-size: 3vh;
    letter-spacing: 3px;
    color: #B1772F;
}
.meal-heading h2{
    font-size: 6vh;
    font-weight: 300;
    color: white;
}
.head-body{
    font-size: 2vh;
    color: #666666;
}
.meal-description button{
    width: fit-content;
    padding: 10px 25px;
    display: flex;
    gap: 3vh;
    border-radius: 50px;
    font-size: 3vh;
    background-color: #0A0A0A;
    border: 2px solid #743e2d;
    color:#864F27 ;
}
.leaf img{
    height: 45vh;
}
hr{
    color: #77492A;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    width: 100%;
    height: 10%;
}
footer p{
    color: #808080;

}
footer .nav{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}
footer .nav .point{
    height: 4px;
    width: 4px;
    background-color: #E5841D;
    border-radius: 50%;
}
footer .social{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
footer .social .icons{
    color: #be6314;
    margin-left:5px ;
}
.icons i{
    border: 2px solid #4F2F1B;
    border-radius: 50%;
    font-size: 15px;
    padding: 5px;
}