*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #F18F40;
    padding: 4px;
}
.content{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    

}
header{
    background-color:#FCF4EE;
    height: 4vw;
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0 1px rgb(92, 90, 90);
    padding: 0px 20px;

}
header .logo-name {
    font-size: 1.5vw;
}
header .logo-name span{
    color: #F18F40;
}
header nav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 3vw;
}
.nav-link{
    display: flex;
    gap: 5vw;
    padding-left: 2vw;
}
.nav-link a{
    text-decoration: none;
    font-size: 1.1vw;
    color: black;
}
.profile-side{
    display: flex;
    gap: 2vw;
}
.profile-side i{
    font-size: 1.5vw;
}