*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
main{
    align-self: center;
    justify-content: center;
    height: 90%;
    width: 80%;
    background-color: aliceblue;
}
header{
    background-color: aquamarine;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7%;
}

main header .logo{
    height: 100%;
    display: flex;
    align-items: center;
}
main header .logo img{
    height: 50%;
}