*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: black;
    
}
main{

    height: 92vh;
    width: 72vw;
    display: flex;
    
}
.left{
    height: 92vh;
    width: 36vw;
    background-color: #FEFEFE;
}
.left nav{
    display: flex;
    align-items: center;
    padding: 3vh 2vw;
    gap: 4vw;
}
.search-container{
    width: 16vw;
    border-radius: 2vw;
    display: flex;
    align-items: center;
    gap: 1.2vw;
    margin-top: 0.7vh;
    padding: 1.1vh 1vw;
    background-color: #f0efef;

}
.search-container i{
    font-size: 1.2vw;
    color: #5E5E5E;
}
.search-container .search-input{
    outline: none;
    background-color: transparent;
    border: none;

}
.search-container .search-input::placeholder{
    font-size: 1.1vw;
    color: #5E5E5E;
}

.left-content{
    font-size: 2.5vh;
    position: relative;
    
}
.left-content h2{
    transform: rotate(-90deg);
    font-size: 6.5vh;
    font-weight: 550;
    position: absolute;
    top: 32vh;
    left: -4vw;
    font-style: italic;
}
.left-inner-content{
    position: absolute;
    top: 10.5vh;
    left: 12.5vw;
} 
.left-inner-content ul li::marker{
    color: #B93E3A;
    font-size: 2.5vh;
}
.left-inner-content li{
    font-weight: 600;
    font-size: 2.1vh;
    padding: 0.4vh 0.2vw;
}

.left-inner-content ul p{
    font-size: 2.1vh;
    padding-left: 0.2vw;
    padding-bottom: 0.5vh;
}
.left-inner-content .line{
    height: 0.1vh;
    width: 10vw;
    margin: 1vh 0.2vw;
    background-color: black;
    opacity: 0.2;
}
.center-img{
    height: 68vh;
    position: absolute;
    left: 37.05vw;
    top: 18.5vh;
    filter: drop-shadow(0vw 1.2vh 0.5vh rgba(0, 0, 0,0.5));
}

.right{
    height: 92vh;
    width: 36vw;
    background-color: #B8362E;
}
.right nav{
    display: flex;
    align-items: center;
    padding: 4vh 4vw;
    gap: 3.5vw;
}
.right nav a{
    text-decoration: none;
    color: white;
    font-size: 2.2vh;
}
.right h2{
    color: white;
    font-weight: 100;
    font-size: 6vh;
    padding: 9vh 0vw 4vh 14vw;
    line-height: 6.5vh;
}

.right .right-center{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;
    padding: 0vh 0vw 0vh 7vw;

}
.right-center .img-bug img{
    height: 13vh;
}
.right-center .img-bug p{
    color: white;
    padding-left: 1.2vw;
    font-size: 1.7vh;
}
.right-center .line{
    height: 14vh;
    width: 0.05vw;
    background-color: rgb(255, 254, 254);
}
.right-center-details .rcd{
    display: flex;
    gap: 1.5vh;
    padding-top: 1vh;
}
.right-center-details .rcd p{
    color: white;
    line-height: 3vh;
 
    font-size: 2vh;
}
.right-center-details .rcd i{
    font-size: 3.5vh;
    color: #E3C39C;

}

.right-bottom h2{
    font-size: 4vh;
    color: #EDCFA4;
    font-weight: bold;
    padding:2.5vh 0vw 1.5vh 14vw;
}

.toggle-btn{
    /* background-color: #E3C39C; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 0.5vw;
    margin-bottom: 2vh;
    padding-left: 14vw;
}


.right-bottom .button{
    background-color:#CB7D72;
    height: 2.4vh;
    width: 2.2vw;
    border-radius: 2vh;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}

.right-bottom .toggle-btn p{
    color: #FEFEFE;
    font-size: 2vh;
}

.button::before{
    position: absolute;
    content: '';
    background-color: #FEFEFE;
    height: 2vh;
    width: 1vw;
    border-radius: 50%;
    margin: 0.1vw;
    transition: 0.2s;
}
.right-bottom .toggle-btn input:checked + .button{
    background-color: #E3C39C;
}
.right-bottom .toggle-btn input:checked + .button::before{
    transform: translateX(1vw);
}

.right-bottom .toggle-btn input{
    display: none;
}

.right-bottom button{
    margin-left: 14vw;
    padding: 1.7vh 2.8vw;
    border-radius: 1.5vh;
    background-color: #E3C39C;
    margin-top: 0.5vh;
    border: none;
    letter-spacing: 0.15vh;
}