*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(51, 47, 47);
}
.container{
    height: 93%;
    width: 70%;
    background: #FCF4EE;
    margin: auto;
    margin-top: 1.7%;
    border-radius: 20px;
    overflow: hidden;
}
main{
    height: 100%;
    width: 100%;
}
.container main header{
    height: 10%;
    width: 100%;
    background-color: #FCF4EE;
    display: flex;
    align-items: center;
}
.logo{
    height: 100%;
    width: 15%;
    display: flex;
    align-items: baseline;
    justify-content: end;
}
.logo img{
    height: 80%;
}
.logo h3{
    font-size: 25px;
    font-weight: lighter;


}
nav{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    gap: 5%;
    justify-content: end;

}
nav a{
  font-size: 12px;
  text-decoration: none;
  color: #403E3A;
}
.search-bar{
    height: 55%;
    width: 22%;
    background-color:#FAF5EE;
    display: flex;
    align-items: center;
    /* gap:10px; */
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 8%;
    position: relative;
}
.search-bar input{
    border: none;
    outline: none;
    background-color: transparent;
}
.search-bar .line{
    height: 1px;
    width: 7.5%;
    background-color: black;
    transform: rotateZ(90deg);
    position: absolute;
    left: 75%;
}
.search-bar .ri-shopping-bag-fill{
    font-size: 20px;
}
.search-bar sup{
    height: 17px;
    width: 17px;
    background-color:#D92432;
    position: absolute;
    top: -5px;
    right: 0;
    border-radius: 6px;
}
.search-bar sup p{
   text-align: center;
   color: white;
}
