*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(51, 47, 47);
}
.container{
    height: 93%;
    width: 70%;
    background: #FCF4EE;
    margin: auto;
    margin-top: 1.7%;
    border-radius: 20px;
    overflow: hidden;
}
main{
    height: 100%;
    width: 100%;
}
.container main header{
    height: 10%;
    width: 100%;
    background-color: aquamarine;
}
.logo{
    background-color: antiquewhite;
    height: 100%;
    width: 15%;
    display: flex;
    align-items: baseline;
    justify-content: end;
}
.logo img{
    height: 80%;
}
.logo h3{
    font-size: 25px;
    font-weight: lighter;
    

}